/**
 * @name Hydro-theme
 * @author zotoo_
 * @version 1.0.11
 * @description macOS with barely any customization.
 * @authorId 1097588212442087504
 * @BDEditor zOto
*/

@import url('https://fonts.googleapis.com/css2?family=futura:wght@100;300;400;500;700&display=swap');
@import url('https://maendisease.github.io/Solana/Solana.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/css/bdAddonMini.css');
@import url('https://maendisease.github.io/BetterDiscordStuff/Themes/Solana/addon/mac-titlebar.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css');

:root {
  --accent-hue: 213;
  --accent-saturation: 100%;
  --accent-brightness: 50%;
  --background-accent-hue: 213;
  --background-accent-saturation: 100%;
  --background-accent-brightness: 50%;
  --background-image: url('https://i.imgur.com/E0G30Zx.gif'); /* url(https://site.com/foobar.png) | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-position: center;
  --background-image-size: cover;
  --background-image-blur: 0px;
  --background-overlay-opacity: 0%;
  --background-overlay-color-lightness: -0.27;
  --background-hue-shift-strength: 65%;
  --window-background-image: initial;
  --window-background-image-position: center;
  --window-background-image-size: cover;
  --window-background-image-attachment: fixed;
  --window-opacity: 46%;
  --window-blur: 10;
  --window-friends-blur: 0;
  --window-margin: 3;
  --window-margin-left: 0;
  --window-border-radius: 0px;
  --window-background-lightness: 0.17;
  --window-accent-tint-strength: 0%;
  --chat-bubble: 0;
  --text-link-hue: 219;
  --chat-text-brightness: 0.19;
  --home-icon: url('https://i.imgur.com/rdJEfNS.png');
  --favorites-icon: url('https://i.imgur.com/SN1hNU2.png');
  --dock-blur: 0; /* Blur intensity of the dock. */
  --dock-border-radius: 0;
  --sidebar-width: 286px;
  --members-width: 236px;
  --sidebar-text-brightness: 0.26;
  --background-floating-blur: 21px;
  --floating-background-lightness: -0.13;
  --background-floating-opacity: 0.98;
  --enable-floating-transparency: 1;
  --custom-font-display: futura;
  --custom-font-regular: "";
  --custom-font-primary: "";
  --custom-font-code: "";
  --enable-blur: 1;
}

/* Any custom CSS below here */


